* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.body-index {
    background-color: #000000;
}

/*login*/
.body-login {
    background-color: #000000;
}

.div-login {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.divtudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.h1 {
    margin: 10px;
    color: rgb(255, 255, 255);
}

.caixas {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 20px;
}

.divbotao {
    margin: 20px;
    padding: 10px;
}

.logo {
    height: 150px;
}

.entrar {
    color: rgb(255, 255, 255);
    background-color: #150096;
    border: 2px solid #150096;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.entrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.cadastrar {
    color: rgb(255, 255, 255);
    background-color: #150096;
    border: 2px solid #150096;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.cadastrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px #000000;
}

/*cadastro*/
.body-cadastro {
    background-color: #000000;
}

.div-cadastro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.divtudo-cadas {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 390px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.caixas-cadas {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 10px;
}

.divbotao-cadas {
    margin: 20px;
    padding: 10px;
}

/*página inicial*/

.logo-inic {
    height: 85px;
    margin-top: 20px;
    margin-left: 50px;
}

.botao-in {
    border-radius: 5px;
    background-color: #150096;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-inic {
    text-align: center;
    margin: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caixas-inic {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

.botao-inic {
    border-radius: 5px;
    background-color: #150096;
    text-decoration: none;
    color: white;
    padding: 9.5px 20px;
}

.transparente {
    border-bottom: 10px solid #282828;
}

.div-inic2 {
    color: white;
    display: flex;
}

.div-inic02 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupo1 {
    width: 500px;
}

.div-inic3 {
    color: white;
}

.div-inic03 {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-inic4 {
    color: white;
    display: flex;
}

.div-inic04 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*página principal - header*/

.body-principal {
    background-color: #000000;
}

.cabecalho-in {
    background-color: #3D0775;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-in>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-in>nav>img {
    padding: 5px;
}

.menu {
    display: flex;
}

.menu>li {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
}

.menu>li>a:hover {
    color: #F8D625;
}

.botoes-menu {
    margin: 30px;
}

.sair {
    background-color: #150096;
    color: rgb(254, 254, 254);
    border: 2px solid #150096;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: space-between;
}

.sair:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(54, 54, 54);
}

.midia01 {
    background-color: #150096;
    color: rgb(254, 254, 254);
    border: 2px solid #150096;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: space-between;
}

.midia01:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(54, 54, 54);
}

/*página inicial - avatar*/

.div-inpg {
    color: #ffffff;
    border: 2px solid #7312C0;
    box-shadow: 0 0 30px #8b10f0;
    border-radius: 40px;
    padding: 23px 20px;
    display: flex;
    width: 52%;
    margin: 60px auto;
}

.divavatar {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;
}

.amarelo {
    color: #F8D625;
    margin-bottom: 20px;
    margin-left: 50%;
}
.filme{
    width: 150px;
    height: 210px;
    padding: 10px;
}
.div-filmes{
    display: flex;
    overflow: scroll;
}
.div-filmes::-webkit-scrollbar{
    display: none;
}
.h3{
    color: #ffffff;
    margin-left: 1%;
    margin-top: 2%;
}
.musica{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 10px;
}

.div-musica{
    display: flex;
    overflow: scroll;
}
.div-musica::-webkit-scrollbar{
    display: none;
}
