* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.body-index {
    background-color: #000000;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 1550px 695px;
}

/*login*/
.body-login {
    background-color: #000000;
}

.div-login {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.divtudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.h1 {
    margin: 10px;
    color: rgb(255, 255, 255);
}

.caixas {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 20px;
}

.divbotao {
    margin: 20px;
    padding: 10px;
}

.logo {
    height: 150px;
}

.entrar {
    color: rgb(255, 255, 255);
    background-color: #150096;
    border: 2px solid #150096;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.entrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.cadastrar {
    color: rgb(255, 255, 255);
    background-color: #150096;
    border: 2px solid #150096;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.cadastrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px #000000;
}

hr {
    margin-bottom: 20px;
}

/*cadastro*/
.body-cadastro {
    background-color: #000000;
}

.div-cadastro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.divtudo-cadas {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 390px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.caixas-cadas {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 10px;
}

.divbotao-cadas {
    margin: 20px;
    padding: 10px;
}

/*página inicial*/

.logo-inic {
    height: 85px;
    margin-top: 20px;
    margin-left: 50px;
}

.botao-in {
    border-radius: 5px;
    background-color: #150096;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-inic {
    text-align: center;
    margin: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caixas-inic {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

.botao-inic {
    border-radius: 5px;
    background-color: #150096;
    text-decoration: none;
    color: white;
    padding: 9.5px 20px;
}

.transparente {
    border-bottom: 10px solid #282828;
}

.div-inic2 {
    color: white;
    display: flex;
}

.div-inic02 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupo1 {
    width: 500px;
}

.div-inic3 {
    color: white;
    display: flex;
}

.div-inic03 {
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-inic4 {
    color: white;
    display: flex;
}

.div-inic04 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*página principal - header*/

.body-principal {
    background-color: #000000;
}

.cabecalho-in {
    background-color: #3D0775;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-in>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-in>nav>img {
    padding: 5px;
}

.menu {
    display: flex;
}

.menu>li {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
}

.menu>li>a:hover {
    color: #F8D625;
}

.botoes-menu {
    margin: 30px;
}

.sair {
    background-color: #150096;
    color: rgb(254, 254, 254);
    border: 2px solid #150096;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: space-between;
}

.sair:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.midia01 {
    background-color: #150096;
    color: rgb(254, 254, 254);
    border: 2px solid #150096;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: space-between;
}

.midia01:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}

/*página inicial - avatar*/

.div-inpg {
    color: #ffffff;
    border: 2px solid #7312C0;
    box-shadow: 0 0 30px #8b10f0;
    border-radius: 40px;
    padding: 23px 20px;
    display: flex;
    width: 52%;
    margin: 60px auto;
}

.divavatar {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;
}

.amarelo {
    color: #F8D625;
    margin-bottom: 20px;
    margin-left: 50%;
}

/*página inicial -filmes, séries, música, produtos*/

.filme {
    width: 150px;
    height: 210px;
    padding: 10px;
}

.div-filmes {
    display: flex;
    overflow: scroll;
}

.div-filmes::-webkit-scrollbar {
    display: none;
}

.h3 {
    color: #ffffff;
    margin-left: 1%;
    margin-top: 2%;
}

.musica {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 10px;
}

.div-musica {
    display: flex;
    overflow: scroll;
}

.div-musica::-webkit-scrollbar {
    display: none;
}

.nome {
    color: #ffffff;
    text-align: center;
}


/*página inicial - gif*/
.brid {
    transition: 1s;
}

.brid:hover {
    content: url(/STARGEEK/img/gif/g-bridgerton.gif);
    width: 260px;
    height: 210px;
    transition: 1s;

}

.legalmente {
    transition: 1s;
}

.legalmente:hover {
    content: url(/STARGEEK/img/gif/legalmenteloira.webp);
    width: 340px;
    height: 210px;
    transition: 1s;
}

.themenu {
    transition: 1s;
}

.themenu:hover {
    content: url(/STARGEEK/img/gif/o\ menu.gif);
    width: 330px;
    height: 210px;
    transition: 1s;
}

.dezhomens {
    transition: 1s;
}

.dezhomens:hover {
    content: url(/STARGEEK/img/gif/homem\ em\ 10.gif);
    width: 340px;
    height: 210px;
    transition: 1s;
}

.fall {
    transition: 1s;
}

.fall:hover {
    content: url(/STARGEEK/img/gif/atriz\ da\ wandinha.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.xxx {
    transition: 1s;
}

.xxx:hover {
    content: url(/STARGEEK/img/gif/xxxmarca.webp);
    width: 245px;
    height: 210px;
    transition: 1s;
}

.black {
    transition: 1s;
}

.black:hover {
    content: url(/STARGEEK/img/gif/adão\ negro.gif);
    width: 365px;
    height: 210px;
    transition: 1s;
}

.pearl {
    transition: 1s;
}

.pearl:hover {
    content: url(/STARGEEK/img/gif/pearl-movie.gif);
    width: 320px;
    height: 210px;
    transition: 1s;
}

.shining {
    transition: 1s;
}

.shining:hover {
    content: url(/STARGEEK/img/gif/theshining.gif);
    width: 320px;
    height: 210px;
    transition: 1s;
}

.casamento {
    transition: 1s;
}

.casamento:hover {
    content: url(/STARGEEK/img/gif/jenniferlopez.gif);
    width: 210px;
    height: 210px;
    transition: 1s;
}

.janela {
    transition: 1s;
}

.janela:hover {
    content: url(/STARGEEK/img/gif/janela.gif);
    width: 210px;
    height: 210px;
    transition: 1s;
}

.encanto {
    transition: 1s;
}

.encanto:hover {
    content: url(/STARGEEK/img/gif/encanto.webp);
    width: 260px;
    height: 210px;
    transition: 1s;
}

.provisoria {
    transition: 1s;
}

.provisoria:hover {
    content: url(/STARGEEK/img/gif/provisoria.gif);
    width: 260px;
    height: 210px;
    transition: 1s;
}

.parasita {
    transition: 1s;
}

.parasita:hover {
    content: url(/STARGEEK/img/gif/parasita.gif);
    width: 260px;
    height: 210px;
    transition: 1s;
}

.ruido {
    transition: 1s;
}

.ruido:hover {
    content: url(/STARGEEK/img/gif/ruidobranco.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.antes {
    transition: 1s;
}

.antes:hover {
    content: url(/STARGEEK/img/gif/enolaholmes.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.universo:hover {
    content: url(/STARGEEK/img/gif/feelthe.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

/*série*/

.gatunas {
    transition: 1s;
}

.gatunas:hover {
    content: url(/STARGEEK/img/gif/gatunas.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.anne {
    transition: 1s;
}

.anne:hover {
    content: url(/STARGEEK/img/gif/anne.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.loveto {
    transition: 1s;
}

.loveto:hover {
    content: url(/STARGEEK/img/gif/loveto.webp);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.euphoria {
    transition: 1s;
}

.euphoria:hover {
    content: url(/STARGEEK/img/gif/euphoria.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.reacher {
    transition: 1s;
}

.reacher:hover {
    content: url(/STARGEEK/img/gif/reacher.gif);
    width: 220px;
    height: 210px;
    transition: 1s;
}

.book {
    transition: 1s;
}

.book:hover {
    content: url(/STARGEEK/img/gif/romanceisbonus.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.ginny {
    transition: 1s;
}

.ginny:hover {
    content: url(/STARGEEK/img/gif/ginny.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.you {
    transition: 1s;
}

.you:hover {
    content: url(/STARGEEK/img/gif/you.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.blood {
    transition: 1s;
}

.blood:hover {
    content: url(/STARGEEK/img/gif/bloodand.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.lucifer {
    transition: 1s;
}

.lucifer:hover {
    content: url(/STARGEEK/img/gif/lucifer.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.of:hover {
    content: url(/STARGEEK/img/gif/thelast.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.greys {
    transition: 1s;
}

.greys:hover {
    content: url(/STARGEEK/img/gif/greys.webp);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.out {
    transition: 1s;
}

.out:hover {
    content: url(/STARGEEK/img/gif/outlan.webp);
    width: 260px;
    height: 210px;
    transition: 1s;
}

.invisivel {
    transition: 1s;
}

.invisivel:hover {
    content: url(/STARGEEK/img/gif/cidade\ invisivel.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.wandinh {
    transition: 1s;
}

.wandinh:hover {
    content: url(/STARGEEK/img/gif/wandinha.gif);
    width: 210px;
    height: 210px;
    transition: 1s;
}

.naoolhe {
    transition: 1s;
}

.naoolhe:hover {
    content: url(/STARGEEK/img/gif/naoolhe.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

.derepente {
    transition: 1s;
}

.derepente:hover {
    content: url(/STARGEEK/img/gif/30.gif);
    width: 300px;
    height: 210px;
    transition: 1s;
}

/*cantores*/

.arianagrande {
    transition: 1s;
}

.arianagrande:hover {
    content: url(/STARGEEK/img/cantores/arianagrandee.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.jao {
    transition: 1s;
}

.jao:hover {
    content: url(/STARGEEK/img/cantores/jaao.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.rihanna {
    transition: 1s;
}

.rihanna:hover {
    content: url(/STARGEEK/img/cantores/rihannaaa.gif.crdownload);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.luisa {
    transition: 1s;
}

.luisa:hover {
    content: url(/STARGEEK/img/cantores/luisa-sonza.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.beyonce {
    transition: 1s;
}

.beyonce:hover {
    content: url(/STARGEEK/img/cantores/beyonceee.jpg);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.anittaa {
    transition: 1s;
}

.anittaa:hover {
    content: url(/STARGEEK/img/cantores/anitta-girl-from-rio-anitta.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.seujorge {
    transition: 1s;
}

.seujorge:hover {
    content: url(/STARGEEK/img/cantores/seujorgee.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.shawnmendes {
    transition: 1s;
}

.shawnmendes:hover {
    content: url(/STARGEEK/img/cantores/shawnmendese.jpg);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.plattorvittar {
    transition: 1s;
}

.pabllovittar:hover {
    content: url(/STARGEEK/img/cantores/pablloovittar.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.bruno {
    transition: 1s;
}

.bruno:hover {
    content: url(/STARGEEK/img/cantores/brunoo.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.taylor:hover {
    transition: 1s;
}

.taylor:hover {
    content: url(/STARGEEK/img/cantores/taylorr.jpg);
    width: 210px;
    height: 200px;
    transition: 1s;
}

.selena {
    transition: 1s;
}

.selena:hover {
    content: url(/STARGEEK/img/cantores/selenaagomez.gif);
    width: 210px;
    height: 200px;
    transition: 1s;
}

/*cadastro midia*/

.body-midia {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 1550px 750px;
    background-color: #000000;
}

.logo-midia {
    height: 150px;
    margin-top: -90px;
}

.div-midia {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}

.divtudo-midia {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    height: 490px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.divtudo-midia>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixas-midia {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 10px;
}

.entrar-midia {
    background-color: #150096;
    color: rgb(254, 254, 254);
    border: 2px solid #150096;
    height: 23px;
    width: 100px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 11px;
}

.entrar-midia:hover {
    transition: 0.5s;
    box-shadow: 0 0 5px rgb(37, 37, 37);
}

#story {
    margin-top: 10px;
    height: 205px;
}

.maisais {
    width: 210px;
    height: 210px;
}

.divv-midia {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    height: 280px;
    margin: 0 auto;
    background-color: #362987;
    border-radius: 10px;
}

.divv-midia>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*minha lista*/

.jubalu {
    display: flex;
    flex-wrap: wrap;
}

.imgpp {
    width: 150px;
    height: 210px;
    padding: 10px;
}

@media (max-width:500px) {
    /*página principal*/
    .cabecalho-in {
        flex-direction: column;
    }

    .menu>li>a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 10px;
    }

    .botoes-menu {
        margin: 10px;
    }

    .cabecalho-in>nav>img {
        display: none;
    }

    .div-inpg {
        flex-direction: column-reverse;
        width: 90%;
    }

    .divavatar {
        width: 98%;
        font-size: 11.4px;
    }

    .div-avatar>img {
        content: url(/STARGEEK/img/avatarzinho.png);
        width: 100%;
    }

    .midia01 {
        padding: 3px 10px;
    }

    .sair {
        padding: 3px 10px;
    }
/*página index*/
    .logo-inic {
        height: 65px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .botao-in {
        padding: 5px 10px;
    }

    .div-inic>img {
        height: 200px;
    }

    .div-inic {
        margin: 10px;
    }
    .caixas-inic{
        width: 250px;
    }
    .botao-inic{
        padding: 9px 10px;
    }
.div-inic2{
    flex-direction: column;
    align-items: center;
}
.div-inic02{
    font-size: 15px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;

}
.div-inic3{
    flex-direction: column-reverse;
    align-items: center;
}
.div-inic03{
    font-size: 15px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;


}
.div-inic4{
    flex-direction: column;
    align-items: center;
}
.div-inic04{
    font-size: 15px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;

}
.grupo1{
    height: 400px;
    margin-left: -37px;
}
.grupo2{
    height: 400px;
}
/*login*/
.logo{
    height: 140px;
}
.divtudo{
    width: 365px;
    height: 300px;
}
.body-cadastro > a > img{
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
}
/*cadastro*/
.logo{
    height: 140px;
}
.divtudo-cadas{
    width: 365px;
    height: 380px;
}
.body-login > a > img{
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
}
/*mídia*/
.body-midia > a > img{
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
}
.logo-midia{
    height: 120px;
}
.divtudo-midia{
    width: 365px;
    height: 480px;
}
.h1{
    font-size: 30px;
}
.grupo33{
   display: none;
}
}